.cabecalho__container__titulo {
    display: block;
    font-weight: 400;
}

.cabecalho__container__titulo__negrito,
.cabecalho__container__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 33px;
}

.cabecalho__container__titulo__negrito {
    font-weight: 700;
}

.cabecalho__container__ico {
    margin: 17px 11px 17px 80px;
}

.cabecalho__container__usuario {
    padding: 0 60px 0 40px;
}

.cabecalho__botoes {
    display: flex;
}

.cabecalho__botoes__links {
    text-decoration: none;
    color: black;
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 500;
}

.cabecalho__botoes__menu:checked ~ .cabecalho__container__menu {
    display: block;
    width: auto;
}

.cabecalho__botoes__menu {
    display: none;
}

.display-none-428 {
    display: none;
}

.cabecalho__container__menu__item {
    font-family: var(--fonte-principal);
}

.cabecalho__botoes__menu:checked ~ .categorias__rotulo > .cabecalho__botoes__links {
    background: var(--cor-degrade);
    color: aliceblue;
}

.cabecalho__container__menu__item:hover {
    background: var(--cor-degrade);
}

.cabecalho__container__menu__item:hover > .cabecalho__container__menu__botoes {
    -webkit-text-fill-color: var(--cor-branco);
    text-decoration: none;
}

.cabecalho__botoes__links {
    padding: 2em 1em;
    display: flex;
    justify-content: center;
}

.cabecalho__container__rotulo {
    display: none;
}