.swiper-slide img{
    width: 70%;
    position: relative;
    left: 14%;
}

.swiper {
    right: 0%;
    width: 70%;
    margin: 0 auto;
}

.swiper-pagination {
    margin: 15px 0 60px 0;
}

.swiper-button-prev,
.swiper-button-next {
    display: block;
    top: 62%;
}

.carrossel__titulo {
    font-size: 26px;
}